<section class = "container" id = "about">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 profile-img">
            <div class = "img">
                <img src="../../../assets/IMG-20220313-WA0003.jpg" alt="image">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 content">
            <div class = "heading">
                <h1 class = "h1">
                    About Me
                </h1>
                </div>
                <div class = "para">
                <p>
                     I am Rakesh, from UP I am a Qualified Engineer skilled and Trained by 
                     NIIT Stack Route as Full Stack Developer passionate about coding,
                     Having Much Much Interest Towards Technologies always eager to learn new things
                     and want to explore every single posibilities in the field of Technology.
                </p>
            </div>
            <div>
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="footer-icon fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="footer-icon fa-brands fa-instagram icon"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="footer-icon fa-brands fa-twitter icon"></i></a>
                    <a href="https://www.linkedin.com/in/rakesh-tiwari-0a87811b7" target="_blank"><i class="footer-icon fa-brands fa-linkedin icon"></i></a>
                   </div>
            </div>
        </div>
    </div>
</section>
