<section class = "main">
<div class="row">
    <h1>Insipiring Quotes</h1>
</div>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class = "inside-slider">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/bill-gates.jpg" alt="Random first slide"/>
    </div>
    <div class = "slide-caption">
    <h3 class = "bill-gates"> "Success is a lousy teacher. It seduces smart people into
      thinking they can't lose. "
     by   <p> Bill Gates </p>  
    </h3>
    </div>
   </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class = "inside-slider">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/larry-page.jpg" alt="Random second slide"/>
    </div>
    <div class = "slide-caption">
      <h3>
        " If you're changing the world, you're working on important things.
        You're excited to get up in the morning. "
        by   <p> Larry Page </p>  
      </h3>
    </div>
  </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class = "inside-slider">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/steve-jobs.jpg" alt="Random third slide"/>
    </div>
    <div class = "slide-caption">
      <h3>
        " Because the people who are crazy enough to think they can
        change the world are the ones who do. "
         by   <p> Steve Jobs </p> 
      </h3>
    </div>
  </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class = "inside-slider">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/linus-torvalds.jpg" alt="Random third slide"/>
    </div>
    <div class = "slide-caption">
      <h3>
        " See, you not only have to be a good coder to create system
       like Linux, you have to be a sneaky bastard too. "
       by <p>Linus Torvalds</p> 
      </h3>
    </div>
      </div>
  </ng-template>
</ngb-carousel>
</section>
