 <section class = "main" id = "project">
  <div class = "row">
    <h2>My Projects</h2>
  </div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/project-slider-1.png" alt="Random first slide" width="60%" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/project-slider-2.png" alt="Random second slide" width="60%" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/project-slider.png" alt="Random third slide" width="60%" />
      </div>
    </ng-template>
  </ngb-carousel>
 </section>
