<footer id = "footer">
    <div class="row footer-heading">
        <h1>Hire Me.</h1>
         <h3>I am always excited to work on some awesome projects</h3>
    </div>
    <div class="row contact-heading">
        <h1>Contact</h1>
    </div>
    <div class="row footer-content">
        <div class = "col-sm-12 col-md-6 col-lg-6">
            <div class = "social">
                <a href="https://www.facebook.com/" target="_blank"><i class="footer-icon fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/rakesh-tiwari-0a87811b7" target="_blank"><i class="footer-icon fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="footer-icon fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class = "col-sm-12 col-md-6 col-lg-6">
            <div class = "contact-details">
            <h3 class = "contact-number">+91-9354425997</h3>
            <h3 class = "email">rakeshtiwari887429@gmail.com</h3>
           </div>
        </div>
    </div>
    <div class = "footer-image">
        <img src="../../../assets/foot.jpg" alt="footerimg">
    </div>
</footer>
